*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

.center {
	max-width: 1024px;
	margin: 0 auto;
}

.heading-tertiary {
	font-size: 3rem;
}
